h3 {
    margin-left: 25px;
    margin-bottom: 10px;
}

#file-chooser, #results, button {
    margin-left: 35px;
}

button {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 80px;
    text-align: right;
}

#upload-wrapper {
    border-width: 10px;
    border-style:solid;
    border-color:grey;
}